<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>

		<!-- FORCE HTTPS -->
		<rewrite>
			<rules>
				<rule name="Force HTTPS" enabled="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="off" />
					</conditions>
					<action
						type="Redirect"
						url="https://{HTTP_HOST}/{R:1}"
						redirectType="Permanent" />
				</rule>
			</rules>
		</rewrite>

		<!-- FIX SmarterASP automatic login prompt -->
		<security>
			<authentication>
				<anonymousAuthentication enabled="true" />
				<basicAuthentication enabled="false" />
				<windowsAuthentication enabled="false" />
			</authentication>
		</security>

		<handlers>
			<add name="aspNetCore"
				 path="*"
				 verb="*"
				 modules="AspNetCoreModuleV2"
				 resourceType="Unspecified" />
		</handlers>

		<aspNetCore processPath="dotnet"
					arguments="FGS-BE.dll"
					hostingModel="inprocess"
					stdoutLogEnabled="false"
					stdoutLogFile="logs\\stdout" />

	</system.webServer>
</configuration>
